<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/cart.css">


</head>

<body>
    <!-- Header 導覽列 -->
    <header>
        <div class="container">
            <nav>
                <div class="logo">簡約家居</div>
                <ul>
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./products.html">商品</a></li>
                    <li><a href="#about">關於我們</a></li>
                    <li><a href="#contact">聯繫我們</a></li>
                </ul>
                <ul>
                    <li><a href="./cart.html"><img src="./images/shopping.svg" class="icon-cart"></a></li>
                    <li><a href="./login.html"><img src="./images/login.svg" class="icon-cart"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- -------------------------------- -->








    <section class="container" style="background-color: aquamarine;">
        <div class="container">
            <div id="app">
                <a href="./products.html">返回商品頁</a>
                <div class="row bg-primary p-2">
                    <h2 class="col-md-8 bg-success p-2"><span class="d me-auto bg-info">購物車</span></h2>
                    <div class="col-md-2 ms-auto d-flex p-3">
                        <!-- <button class="btn btn-sm ms-auto" @click="clearCart">清空購物車</button> -->

                    </div>

                </div>
                <div class="row">
                    <div id="cart" class="bg-warning col-md-8 p-3">
                        <div class="row mb-3" style="background-color: cadetblue;">商品</div>

                        <div class="row align-items-center mb-3" style="background-color: rgb(173, 122, 221);"
                            v-for="item in cartItems" :key="item.id">
                            <div class="col-md-8" style="background-color: skyblue;">
                                {{ item.name }} x {{ item.quantity }} - {{ item.price * item.quantity }} 元
                            </div>
                            <div class="col-md-4 d-flex align-items-center p-2 rounded gap-2"
                                style="background-color: rgb(255, 255, 255);">
                                <button class="btn btn-sm py-1 px-2 bg-primary"
                                    @click="decreaseQuantity(item.cartItemId)">－</button>
                                <span>{{ item.quantity }}</span>
                                <button class="btn btn-sm py-1 px-2 bg-primary"
                                    @click="increaseQuantity(item.cartItemId)">＋</button>
                                <button class="btn bg-danger btn-sm py-0 px-1 ms-md-auto"
                                    @click="removeItem(item.cartItemId)">刪除</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 bg-danger">
                        <div class="bg-info p-5">
                            <h3>選擇運送方式</h3>
                            <div class="row p-3">
                                <select required >
                                    <option selected disabled>請選擇縣市</option>
                                    <option v-for="(districts, city) in addressData" :key="city" :value="city">{{ city }}</option>
                                </select>
                                <select required>
                                    <option selected disabled>請選擇搬運樓層</option>
                                    <option>平地一樓</option>
                                    <option>2樓以上無電梯</option>
                                    <option>地下室無電梯</option>
                                </select>

                            </div>
                        </div>
                        <div class="bg-success p-5">
                            <h3>金額計算</h3>
                            <div class="d-flex justify-content-between">
                                <span>運費:</span>
                                <span>+ NT0</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>樓層費:</span>
                                <span>+ NT0</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>安裝費:</span>
                                <span>+ NT0</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>總金額：</span>
                                <span>NT {{ totalPrice }}</span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="p-3 d-flex">
                    <!-- <button class="btn btn-success ms-auto" @click="checkout">結帳</button> -->
                    <button class="btn btn-success ms-auto" @click="goToForm">前往填寫資料</button>

                </div>

            </div>

        </div>

    </section>








    <!-- ------------------------------------------ -->
    <footer>
        <section>
            <div class="container">

                <ul>
                    <h2>聯繫我們</h2>
                    <li class="xa">地址 : 台北市信義區松仁路123號</li>
                    <li class="xa">電話 : 02-1234-5678</li>

                </ul>
                <div>
                    <a href>
                        <img src="./images/IG.png" alt="IG" class="icon-cart2">
                    </a>
                    <a href>
                        <img src="./images/FB.png" alt="Facebook" class="icon-cart2">
                    </a>
                    <a href>
                        <img src="./images/LINE.png" alt="LINE" class="icon-cart2">
                    </a>
                </div>
            </div>
        </section>
        <p>&copy; 2025 簡約家居 版權所有</p>
    </footer>
    <script src="./js/cart.js"></script>


    </script>
</body>

</html>